/* GENERAL */

h2 {
	font-family: 'Anton', sans-serif;
}

p {
	margin-top: 0;
}

/* CONTENIDO PRINCIPAL */

#main-container {
	margin-top: 1.5rem;
}

#main-container > div > div > h2 {
	margin-bottom: 2rem;
}

/* PIE DE PÃGINA */

footer > div > div > p {
	margin-top: 1.3rem;
}