/* GENERAL */

h2, h3, h4, h5 {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
}

h5 button {
	letter-spacing: 0.15rem;
	text-transform: uppercase;
}

p {
	margin-top: 0;
}

body {
	padding-top: 0;
}

/* CONTENIDO PRINCIPAL */

div#main-container {
	padding-top: 7.5rem;
}

div#main-container > div > div > h2 {
	margin-bottom: 2rem;
}

/* PIE DE PÃGINA */

footer > div > div > p {
	margin-top: 1.3rem;
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
	div#main-container {
		padding-top: 4.5rem;
	}
}

@media only screen and (min-width: 411px) and (min-height: 731px) {
	html, body {
		min-height: 100vh;
	}
}

@media only screen and (min-width: 640px) and (min-height: 360px) {
	div#main-container {
		padding-top: 4.5rem;
	}
}

@media only screen and (min-width: 568px) and (min-height: 320px) {
	div#main-container {
		padding-top: 4.5rem;
	}
}