/* GENERAL */

h2, h3, h4, h5 {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
}

h5 button {
	letter-spacing: 0.15rem;
	text-transform: uppercase;
}

p {
	margin-top: 0;
}

body {
	min-height: 100vh;
	padding-top: 0;
}

/* CONTENIDO PRINCIPAL */

div#main-container {
	padding-top: 5.5rem;
}

div#main-container > div > div > h2 {
	margin-bottom: 2rem;
}

/* PIE DE PÃGINA */

footer > div > div > p {
	margin-top: 1.3rem;
}