/* GENERAL */

body {
	padding-top: 0;
}

img {
	/*box-shadow: 2.5px 2.5px 1px 1px #9e9da2;*/
	box-shadow: 10px 10px 5px grey;
}

/* CONTENIDO PRINCIPAL */

div#main-container {
	padding-top: 6rem;
}

div#main-container > div > div > div > h1 {
	background-color: #F97900;
}

div#main-container > div > div > div > h2 {
	background-color: #F97900;
}