/* GENERAL */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
}

p, li, a {
  font-family: 'Nunito', sans-serif;
}

p {
  margin-top: 1.3rem;
}

body {
  padding-top: 3.4rem;
  padding-bottom: 6rem;
}

/* NAVEGACIÓN */

nav > a {
  font-family: 'Anton', sans-serif;
}

/* PIE DE PÁGINA */

footer.position-absolute {
	bottom: 0;
}