body{
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Ubuntu', sans-serif;
}

#navbar{
  background-color: #192a56;
  padding-left:0;
  padding-right:0;
}

#navbar .nav-item{
  padding: 10px;
  color:white;
}

#navbar .nav-link{
  padding:0;
  color:white;
}

#navbar .navbar-dark .nav-item:hover, .nav-item:active{
  background: rgba(255, 255, 255, .1);
}

#home {
  background: url('./img/background.jpg');
  background-size: cover;
  background-position: right;
  height: 100vh;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .overlay {
  background-color: rgba(0, 0, 0, .1);
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#home #title {
  text-align: center;
  z-index:10;
}

#home #title h1{
  font-size:64px;
  color:white;
}

#home #title button{
  text-transform: uppercase;
}

#about{
  display: flex;
  flex-direction:column;
  align-items:center;
}

#about h2{
  text-align:center;
  font-size: 48px;
}

#about h3{
  font-size:32px;
}

#about .grid{
  display: grid;
  grid-template-columns: 250px;
  grid-row-gap:10px;
  text-align:center;
}

#about figure{
  margin:0;
}

#about .image:first-of-type{
  grid-row: 1 / 2;
}

#about .image:nth-of-type(2){
  grid-row: 3 / 4;
}

#about .image:nth-of-type(3){
  grid-row: 5 / 6;
}

#about .text:first-of-type{
  grid-row: 2 / 3;
}

#about .text:nth-of-type(2){
  grid-row: 4 / 5;
}

#about .text:nth-of-type(6){
  grid-row: 6 / 7;
}