body{
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
}

#navbar{
  background-color: #192a56;
  padding-left:0;
  padding-right:0;
  font-size:18px;
}

#navbar .navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-weight:bold;
}

#navbar .nav-item{
  padding: 15px;
  color:white;
}

#navbar .nav-item:hover{
  background-color:rgba(255, 255, 255, .1);
  cursor:pointer;
}

#navbar .nav-link{
  padding:0;
  color:white;
}

#navbar .navbar-dark .nav-item:hover, .nav-item:active{
  background: rgba(255, 255, 255, .1);
}

#home {
  background: url('./img/background.jpg');
  background-size: cover;
  background-position: right;
  height: 100vh;
  position:relative;
}

#home .overlay {
  background-color: rgba(0, 0, 0, .1);
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#home .helper{
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home #title {
  text-align: center;
  z-index:10;
}

#home #title h1{
  font-size:78px;
  color:white;
}

#home #title button{
  text-transform: uppercase;
}

#about{
  background-color: #f5f6fa;
  display: flex;
  flex-direction:column;
  align-items:center;
}

#about h2{
  font-size: 60px;
}

#about h3{
  font-size:32px;
}

#about .grid{
  display: grid;
  grid-template-columns: 250px;
  grid-row-gap:10px;
}

#about .text p{
  text-align: justify;
}

#about .image{
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about .image:first-of-type{
  grid-row: 1 / 2;
}

#about .image:nth-of-type(2){
  grid-row: 3 / 4;
}

#about .image:nth-of-type(3){
  grid-row: 5 / 6;
}

#about .text:first-of-type{
  grid-row: 2 / 3;
}

#about .text:nth-of-type(2){
  grid-row: 4 / 5;
}

#about .text:nth-of-type(3){
  grid-row: 6 / 7;
}

#projects{
  background-color:#2f3640;
  color:#f5f6fa;
}

#projects .grid{
  display:grid;
  grid-template-columns: 100%;
}

#projects .project{
  border-bottom:1px solid #20252c;
  grid-column: span 1;
}

#projects .project .project-image{
  background: url('./img/example-thumbnail.png');
  background-size:cover;
  width:100vw;
  height:100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}

#projects .project .project-image .overlay{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(0,0,0,.5);
  visibility: hidden;
}

#projects .project .project-image a{
  color:#f5f6fa;
  text-decoration: none;
  font-weight: bold;
  visibility:hidden;
  text-transform: uppercase;
  z-index:10;
}

#projects .project .project-image a:hover{
  color:#dcdde1;
}

#projects .project .project-image a:first-child{
  margin-bottom:10px;
}

#projects .project .project-image:hover{
  cursor:pointer;
}

#projects .project .project-image:hover a{
  visibility: visible;
}

#projects .project .project-image:hover .overlay{
  visibility: visible;
}

#projects .project .project-image:active a{
  visibility: visible;
}

#projects .project .project-image:active .overlay{
  visibility: visible;
}

#projects .project .project-card{
  padding:5px;
  color:#dcdde1;
}

#projects .project .project-card span{
  font-weight:bold;
  font-size:18px;
}

@media (min-width: 576px){
  #projects .grid{
    grid-template-columns: repeat(2, 1fr);
  }

  #projects .project .project-image{
    width:100%;
    height:50vw;
  }

  #projects .project{
    border-left:1px solid #20252c;
  }

  #projects .project .project-card{
    display:none;
  }

  #home #title h1{
    font-size:96px;
  }

  #about .grid{
  display: grid;
  grid-template-columns: 80vw;
  grid-row-gap:10px;
}
}

@media (min-width:768px){
  #about .grid{
    width:95vw;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4vw;
  }

  #about .image:first-of-type{
    grid-column: span 1;
    grid-row: span 1;
  }

  #about .image:nth-of-type(2){
    grid-column: span 1;
    grid-row: span 1;
  }

  #about .image:nth-of-type(3){
    grid-column: span 1;
    grid-row: span 1;
  }


  #about .text:first-of-type {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  #about .text:first-of-type h3, #about .text:nth-of-type(3) h3{
    text-align:right;
  }

  #about .text:nth-of-type(2) h3{
    text-align:left;
  }

  #about .text:nth-of-type(2) {
    grid-column: span 2;
    grid-row: span 1;
  }
  #about .text:nth-of-type(3) {
    grid-column: span 2;
    grid-row: span 1;
  }

  #about .image img{
    max-width:250px;
  }

  #about .text{
    display:flex;
    flex-direction: column;
    justify-content:center;
  }

  #about .text h3{
    margin:0;
  }

  #bout .text p{
    margin:0;
  }

  #home #title h1{
    font-size:112px;
    color:white;
  }

  #projects .grid{
    grid-template-columns: repeat(3, 1fr);
  }

  #projects .project .project-image{
    width:100%;
    height:33vw;
  }
}

@media (min-width:992px){
  #projects .grid{
    grid-template-columns: repeat(4, 1fr);
  }

  #projects .project .project-image{
    height:25vw;
  }

  #home .helper{
    width:50%;
  }

  #about .grid{
    grid-template-columns: repeat(3, 250px);
    width:auto;
  }

  #navbar {
    background-color:rgba(0,0,0,0);
    transition:background .5s;
  }

  #navbar .navbar-brand{
    opacity: 0;
    transition:opacity .5s;
  }
}

@media (min-width:1200px){
  #projects .grid{
    grid-template-columns: repeat(6, 1fr);
  }

  #projects .project .project-image{
    height: 17vw;
  }

  #home #title h1{
    font-size:144px;
    color:white;
  }

}