body{
	font-family: 'Lato', sans-serif;
}

#home {
	height:100vh;
	background: url('./img/background.jpg');
	background-size: cover;
	background-position: right;
	position:relative;
}

#navbar {
	background-color: rgba(0, 0, 0, 0);
	padding:0;
	transition: background .5s;
}

#navbar .navbar-brand{
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size:32px;
	visibility: hidden;
	margin-left:10px;
}

#navbar .nav-link{
	color:#fff;
	font-weight: normal;
	font-size:20px;
}

#navbar .nav-item{
	padding: 5px 20px 8px;
	transition: background .5s;
}

#navbar .nav-item:hover{
	background-color: rgba(0, 0, 0, .4);
}

.overlay{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

#title{
	width:50vw;
	text-align: center;
}

#title h1 {
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size:144px;
}

#call-to-action{
	text-transform: uppercase;
}

#about {
	height: auto;
	background-color: #f5f6fa;
	padding:10px;
	color:#1e272e;
}

#about h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size:72px;
	text-align: center;
	margin-top:4vh;
}

#about .grid{
	display: grid;
	width:70vw;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-row-gap:2vh;
	grid-column-gap:2vh;
	margin:8vh auto 5vh;
}

#about .grid .text{
	grid-column:span 2;
	display:flex;
	flex-direction: column;
	justify-content:center;
	height:auto;
}

#about .grid .text h3{
	font-size:45px;
	font-family: 'Ubuntu', sans-serif;
}

#about .grid .text p{
	font-size: 18px;
	margin-bottom:0;
	text-align: justify;
}

#about .grid .image{
	grid-column: span 1;
	margin-bottom:0;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

#about .grid .image.l img{
	align-self: flex-start;
}

#about .grid .image.r img{
	align-self: flex-end;
}

#about .grid .image img{
	height:250px;
	width:250px;
}

@media screen and (max-width: 991px){
	#navbar {
		background-color:#192a56;
	}

	#navbar .navbar-toggler{
		margin-right:10px;
	}

	#overlay{
		align-items:center;
	}

	#title{
		width:100vw;
	}

	#title h1{
		font-size:108px;
	}

	#about h2 {
		font-size: 54px;
	}

	#about .grid{
		width: 85vw;
		grid-column-gap: 0;
	}

	#about .grid .text h3{
		font-size:36px;
	}

	#about .grid .image img{
		width: 200px;
		height: 200px;
	}

}

@media screen and (max-width: 767px){
	#title h1{
		font-size:72px;
	}

	#about .grid{
		grid-template-columns: 1fr;
	}
}