@import url('https://fonts.googleapis.com/css?family=Rubik');

body, html{
  font-family: 'Rubik', sans-serif;
}

.bg-dark{
	background-color: #1c2331!important;
}

.bg-red{
	background-color: #df252a !important;
}

.heading-red{
	color: #df252a!important;
}